<div class="col s1"></div>
<div class="col s1"></div>
<div class="col s1"></div>
<div class="col s3">
  <a href="/signup" class="waves-effect waves-light btn-large #3f51b5 indigo"><i class="material-icons left">add_circle</i>New Here?</a>
</div>
<div class="col s3">
  <a href="/signin" class="waves-effect waves-light btn-large #3f51b5 indigo"><i class="material-icons left">exit_to_app</i>SignIn</a>
</div>