<div class="card-content">
  <span class="card-title activator grey-text text-darken-4" onclick='location.href="/articles/<%= article.id %>"'>
    <%= article.head %>
  </span>
  <%= show_tags(article) %>
</div>