<div class="row">

</div>
<div class="row">
  <div class="col s1 left-align">
    <%= link_to articles_path, class: "btn-floating btn-large waves-effect waves-light green" do %>
      <i class="material-icons">home</i>
    <% end %>
  </div>
  <div class="col s11 right-align">
    <%= link_to edit_article_path(@article.id), class: "btn-floating btn-large waves-effect waves-light green" do %>
      <i class="material-icons">edit</i>
    <% end %>
  </div>
</div>