<%= form_for(@article, url: update_article_path) do |f| %>
  <div class="container">
    <br>
    <div class="col s9">
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :head, id: 'last_name', class: 'validate' do %>
            <!--        <input id="last_name" type="text" class="validate">-->
            <label for="last_name">Title</label>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, placeholder: 'This field supports Markdown', id:"textarea2", class:"materialize-textarea",  maxlength: 1000 do %>
            <!--        <textarea placeholder="This field supports Markdown" id="textarea2" class="materialize-textarea" data-length="1000"></textarea>-->
            <label for="textarea2">Content</label>
          <% end %>
        </div>
      </div>
      <div class="row">
        <!-- Customizable input  -->
        <div class="chips chips-initial">
          <%#= f.text_field :tag_names, class: 'custom-class' %>
          <input id="tag_names" class="custom-class" name="tag_names">
          <!--        <input class="custom-class">-->
        </div>
      </div>
      <div class="row">
        <%= f.submit "Save", class:"waves-effect waves-light btn-large" %>
      </div>
    </div>
  </div>
<% end %>
<script>
    $(document).ready(function() {
        $('input#input_text, textarea#textarea2').characterCounter();
    });
    $('.chips').chips();
    $('.chips-initial').chips({
        data: [{
            tag: 'Apple',
        }, {
            tag: 'Microsoft',
        }, {
            tag: 'Google',
        }],
    });

    $("form").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get values from elements on the page: */
        var tag_names= JSON.stringify(M.Chips.getInstance($('.chips')).chipsData);
        var head = $('#last_name').val();
        var description = $('#textarea2').val();
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);

        /* Send the data using post and put the results in a div */
        $.ajax({
            type: "PATCH",
            url: '/articles/' + id.toString(),
            data: {
                article:
                    {
                        tag_names: tag_names,
                        head: head,
                        description: description
                    }
            },
            success: function(){
                // alert('Saved Successfully');
            },
            error:function(){
                // alert('Error');
            }
        });
    });
</script>