<div class="container left-align">
  <div class="col s6">
    <div class="row">
      <%= markdown(@article.description) %>
    </div>
  </div>
</div>

<script>
    $('p').addClass("left-align");
</script>