<div class="parallax-container">
  <div class="parallax">
    <%= image_tag('profile/bg.jpg') %>
  </div>
</div>
<script>
    $('.parallax').parallax();
</script>
<div class="section white">
  <div class="row container">
    <h2 class="header center">Hello !!</h2>
  </div>
  <div class="row container">
    <div class="col s1"></div>
    <div class="col s1"></div>
    <div class="col s1"></div>
    <div class="col s1"></div>
    <div class="col s3">
      <a href="/dictionary" class="waves-effect waves-light btn-large #3f51b5 indigo"><i class="material-icons left">sort_by_alpha</i>Dictionary</a>
    </div>
    <div class="col s3">
      <a href="/articles" class="waves-effect waves-light btn-large #3f51b5 indigo"><i class="material-icons left">library_books</i>Articles</a>
    </div>
    <div class="col s1"></div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <%= image_tag 'profile/bg.jpg' %>
  </div>
</div>

<script>
    // $(document).ready(function(){
    //     $('.parallax').parallax();
    // });
</script>