<li class='disabled'>
  <%= content_tag :a, raw(t 'views.pagination.truncate') %>
</li>

<!--<li class="disabled"> <%#= content_tag :a, raw(t 'views.pagination.truncate') %><i class="material-icons">chevron_left</i></li>-->