<!--<li>-->
  <%#= link_to_unless current_page.last?, raw(t 'views.pagination.last'), url, { remote: remote } %>
<!--</li>-->

<!--<li class="waves-effect"><%#= link_to_unless current_page.last?, raw(t 'views.pagination.last'), url, { remote: remote } %><i class="material-icons">chevron_right</i></li>-->
