<!--<li>-->
  <%#= link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, rel: 'prev', remote: remote %>
<!--</li>-->

<!--<li><%#= link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, rel: 'prev', remote: remote %></li>-->

<% unless current_page.first? %>
    <li><%= link_to  url, rel: 'prev', remote: remote do %>
        <i class="material-icons">chevron_left</i>
      <% end %>
    </li>
<% end %>