<nav class="#3f51b5 indigo">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">
<!--      <i class="material-icons">cloud</i>Logo-->
      &nbsp;
      <%= image_tag  "nav_bar/pj-logo.png"%>
    </a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
          <li><a href="/profile"><i class="material-icons">person</i></a></li>
        <% else %>
          <li><a href="sass.html"><i class="material-icons">search</i></a></li>
          <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
          <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      <% end %>
    </ul>
  </div>
</nav>
